COMPOSE_PROJECT_NAME=information-platform-mysql
MYSQL_HOST_PORT=3306
MYSQL_DATA_VOLUME=information-platform-mysql-data

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_WITH_A_RANDOM_BASE64_VALUE

INFORMATION_HUB_DEV_DATABASE=information_hub_dev
INFORMATION_HUB_DEV_USER=information_hub_dev
INFORMATION_HUB_DEV_PASSWORD=CHANGE_ME_DEV_WITH_A_RANDOM_BASE64_VALUE

INFORMATION_HUB_TEST_DATABASE=information_hub_test
INFORMATION_HUB_TEST_USER=information_hub_test
INFORMATION_HUB_TEST_PASSWORD=CHANGE_ME_TEST_WITH_A_RANDOM_BASE64_VALUE
